.info {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
  height: 200px;
  box-shadow: 0 0 4px 0 rgba(#000000, 0.15);
  background: #ffffff;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
