.row:not(:last-child) {
  margin-bottom: 20px;
}

.cells {
  display: flex;
  align-items: center;
}

.cell {
  &:nth-child(1) {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #26292F;
    margin-right: 20px;
  }

  &:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #26292F;
    margin-right: 37px;
  }

  &:nth-child(3) {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #26292F;
  }
}

.centering {
  display: flex;
  align-items: center;
}
