.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #26292F;
}

.list {
  display: flex;
}
