.content {
  padding-top: 20px;
}

.heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: rgba(#26292F, 0.8);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-bottom: 11px;
}
