.save {
  display: inline-flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  background: #3E68FE;
  color: #ffffff;
}
