.container {
  display: flex;
  margin-bottom: 30px;
}

.not_markup {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #26292F;
}

.price {
  font-weight: 600;
  font-size: 14px;
  color: #26292F;
}
