.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 15px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    width: 2px;
    height: 100%;
    background: #3E68FE;
  }
}

.title {
  margin: 0;
}

.button {
  position: relative;
  width: max-content;
  padding-right: 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #26292F;

  &::after, &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    border-radius: 5px;
    width: 13px;
    background: #26292F;
    transition: transform 0.3s ease
  }

  &::after {
    right: 7px;
    transform: rotate(45deg);
  }

  &::before {
    right: 0;
    transform: rotate(-45deg);
  }

  &_open {
    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }
  }
}

.buttons {
  display: flex;

  &_showBlock {
    position: relative;
    flex-direction: column;
  }
}

.quation {
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translateX(-65%);
}

.yes {
  display: inline-flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  background: #1B8F3C;
  color: #ffffff;
}

.close {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  background: #AC2E2E;
  color: #ffffff;
}
