.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #26292F;
}

.key {
  position: relative;
}

.activate {
  position: absolute;
  top: 6px;
  right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-radius: 3px;
  width: 118px;
  height: 24px;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  background: #AC2E2E;

  &_active {
    background: #1B8F3C;
  }
}

.input {
  padding: 8px 140px 8px 10px;
  border-radius: 5px;
  border: 2px solid #3E68FE;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  color: #26292F;
}
