.item {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 9px;
  color: rgba(#ffffff, 0.8);
  text-transform: uppercase;
}

.icon {
  border-radius: 2px;
  overflow: hidden;
}
