.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: max-content;
  background: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 24px;
  color: #1F222D
}
