.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
  border-radius: 10px;
  width: 200px;
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  background: #AC2E2E;
  color: #ffffff;
}
