@import "./normalize.global.scss";
@import "./_mixins.scss";
@import "./_fonts.scss";
@import "./_reset.scss";

* {
  box-sizing: border-box;
}

html {
  font-family:  "Golos", serif;
}

body {
  background-color: #E7ECF0;
}

img {
  width: 100%;
}

