.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #26292F;
}

.content {
  position: relative;
  padding: 10px 34px 10px 8px;
  border: 2px solid #3E68FE;
  border-radius: 5px;
  background: transparent;
  width: 100%;
}
