.container {
  position: relative;
  padding: 21px 42px;
  border-radius: 30px;
  // box-shadow: 0 4px 4px 0 rgba(#000000, 0.15);
  min-height: 300px;
  max-height: 79.5vh;
  background: #ffffff;
}

.body {
  max-height: 77.78vh;
  padding-bottom: 50px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.table {
  display: flex;
  flex-direction: column;
}


